.git
.cache
.idea
.nx
.next
.agents
.codex
.github
arch
build
coverage
dashboard
dist
doc
example
image
install
log
monitor
module/service/*/vendor
node_modules
**/node_modules
**/.next
**/.turbo
dashboard/tmp
pr
pr.cmd
target
test
pkg/driver/motor_can/third_party/ethercat
*.log
